name: Build
on:
  push:
    
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cache/pip
            ~/.platformio/.cache
          key: ${{ runner.os }}-pio
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install PlatformIO Core
        run: pip install --upgrade platformio

      - name: Build ble-advertising-template
        run: cd ./ble-advertising-template && pio run
      
      - name: Simulate and test with Wokwi
        uses: wokwi/wokwi-ci-action@v1
        with:
          token: ${{ secrets.WOKWI_CLI_TOKEN }}
          path: ./ble-advertising-template/wokwi.toml  # directory with wokwi.toml, relative to repo's root
          timeout: 5000
          expect_text: 'Puara Start Done!'
      
      - name: Build libmapper-osc-template
        run: cd ./libmapper-osc-template && pio run  